{% extends 'base.html' %}

{% block title %}Home{% endblock  %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.name }}
<p><a href="{% url 'logout' %}">Your Pet</a></p>
<p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'login' %}">LogIn</a></p>
<p><a href="{% url 'signup' %}">ignup</a></p>


{% for pet in pets %}
<div>
    <p><a href="{% url 'pet_detail' pet.pk %}">{{ pet.name }}</a></p>
    <p>{{ pet.owner.name }}</p>
    <p>{{ pet.animal }}</p>
    <div>
      <a href="{% url 'pet_edit' pet.pk %}">Edit </a>
      <a href="{% url 'pet_delete' pet.pk %}">Delete</a>
    </div>
  </div>
{% endfor %}
{% endblock  %}
