{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="bg-yellow pa3 min-vh-100">
  <h1 class="f1 fw2 mt4">My Profile</h1>
  <article class="w-100 pa2 center">
    <div class=" Pet db center">
      <div class="mt4">
      <p class="f5 fw2 black-90 mt0"><span class="f6 fw4 pr3">NAME</span>{{ user.name }}</p>
        <p class="f5 fw2 black-90 mt0"><span class="f6 fw4 pr3">EMAIL</span>{{ user.email }}</p>
        <p class="f5 fw2 black-90 mt0"><span class="f6 fw4 pr3">PHONE</span>{{ user.phone }}</p>
        <p class="f5 fw2 black-90 mt0"><span class="f6 fw4 pr3">ADDRESS</span>{{ user.address }}</p>
        <p class="f5 fw2 black-90 mt0"><span class="f6 fw4 pr3">ADDRESS DETAIL</span>{{ user.address_detail }}</p>
      </div>
    </div>
    <div class="mt4">
      <button class="tc link dim bg-yellow ba b--black bw1 mr3 br4 ba f5 fw2"><a href="{% url 'profile_edit' user.pk %}"
      class="link black dim pv2 ph4 dib">Edit</a></button>
    </div>
  </article>
  <h1 class="f1 fw2 mt4 mb0">My Pet List</h1>
  {% if pets %}
  <div class="cf w-100">
    {% for pet in pets %}
    <article class="center pa2 mv3 fl w-50 w-33-m w-20-l">
      <div class="Pet db tc center pv3 bg-yellow">
        <img src="{{ pet.photo.url }}" class="w-100 db center">
        <h1 class="f5 fw4 mb2 h2"><a href="{% url 'pet_detail' pet.pk %}" class="link black dim">{{ pet.name }}</a>
          {% if pet.is_main %}
          <span class="f6 fw4 bg-black white br4 dib ph2 pv1">main</span>
          {% endif %}
        </h1>
        <div>
          <button class="bb br0 bw1 pv1 ph2 dib"><a href="{% url 'pet_edit' pet.pk %}"
              class="link black dim">EDIT</a></button>
          <button class="bb br0 bw1 pv1 ph2 dib"><a href="{% url 'pet_delete' pet.pk %}"
              class="link black dim">DELETE</a></button>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
  {% else %}
  <div class="mt5">You have no registered pets T.T</div>
  <button class="tc link dim bg-yellow ba b--black bw1 mr3 br4 ba f5 fw2 mt4"><a href="{% url 'pet_new' %}"
      class="link black dim pv2 ph4 dib">Add Pet</a></button>
  {% endif %}
</div>
{% endif %}
{% endblock %}
