button {
  border: 0;
  border-width: 0;
  background: initial;
}

@media screen and (min-width: 60em) {
  .left-block {
    min-height: calc(100vh);
    max-width: 38rem;
  }

  .fixed-box {
    top: 1rem;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
  }
}



.pet-item {
  height: 26rem;
}

.signup-page {}

.my-form-group label {
  padding-bottom: 0.25rem;
  display: inline-block;
}

.my-form-group input[type="text"],
.my-form-group input[type="email"],
.my-form-group input[type="password"] {
  font-size: 1.6rem;
  font-weight: 200;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 3rem;
  padding-left: 10px;
  background-color: transparent !important;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(11, 8, 38);
  border-image: initial;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

input:disabled {
  font-style: italic;
  border-color: rgba(0, 0, 0, 0.3) !important;
}

.errorlist {
  list-style: none !important;
  color: white !important;
  font-size: 0.8rem;
  font-weight: 400;
  background: #F44336;
  padding: 0.2rem;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}


select {
  text-transform: none;
  border-radius: 0;
  padding: 2rem;
  display: inline-block;
  background-color: transparent;
  border: black 1px solid;
  font-size: 1.4rem;
  margin: 0.4rem;
}

.my-form-group textarea {
  font-size: 1.6rem;
  font-weight: 200;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 6rem;
  padding-left: 10px;
  background-color: transparent !important;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(11, 8, 38);
  border-image: initial;
}
